@page "/"

@inject IProductApi ProductApi

<SectionContent SectionName="pageTitle">
    Fresh Veg Cart
</SectionContent>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in productDtos)
        {
            <div class="col-12 mb-3 bg-white p-3 d-flex gap-3 shadow">
                <div class="img-container shadow">
                    <img src="@item.ImageUrl" alt="@item.Name" class="product-img" />
                </div>
                <div class="product-info">
                    <label class="product-name d-block fw-bold h5">@item.Name</label>
                    <label class="product-price d-block mt-2">@item.Price.ToString("C")/@item.Unit</label>
                    <button type="button" class="btn-app mt-2">Add to Cart</button>
                </div>
            </div>
        }
    </div>
</div>

@code{
    ProductDto[] productDtos = [];
    protected override async Task OnInitializedAsync()
    {
        productDtos = await ProductApi.GetProductsAsync();
    }
}

<style>
    .img-container{
        border-radius: 20px;
        width: 100px;
        padding: 5px;
    }

    .product-img {
        width: 100%;
        height: 100%;
    }
</style>